{% extends 'generator/home.html' %}

{% block title %}Password{% endblock %}

{% block content %}
    <h1>Generated password:</h1>
    <div class="row mt-3">
        <div class="input-group mb-2">
            <input type="text" class="form-control" id="clip-password" value="{{ password }}">
            <button class="btn btn-secondary" type="button" onclick="clipboard()">Copy</button>
        </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-danger mt-2">Back</a>

{% endblock %}

{% block scripts %}
    <script>
        function clipboard() {
            let clip_password =  document.getElementById('clip-password');
            console.log(typeof(clip_password));
            clip_password.select();
            document.execCommand('copy');
        }
    </script>
{% endblock %}